div.card {
  display: inline-block;
  margin: 10px;
  background-color: beige;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 1;
  text-align: center;
  user-select: none;
  position: relative;
}

div.card.selected {
  background-color: red;
}

div.card.back-of-card {
  background-color: darkkhaki;
}

div.card span.rank {
  position: absolute;
  top: 0;
  left: 30%;
  transform: translateX(-50%);
  font-weight: bold;
  line-height: 1;
}

div.card img.suit-icon {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translateX(-50%);
}

div.card p.rider-name {
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-align: right;
  margin: 0;
  line-height: 1;
}
