div.player-hand {
  padding-left: 75px;
  display: flex;
  flex-direction: row;
}

div.player-hand.my-turn {
  background-color: gold;
}

div.player-hand h1 {
  position: absolute;
  left: 0;
  z-index: 0;
}

div.player-hand p.money {
  margin: 0;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
}