div.player-info .info {
  position: absolute;
  color: gold;
}

div.player-info .info p {
  margin: 0;
}

div.player-info .info.left-side {
  top: 0;
  left: 0;
}

div.player-info .info.right-side {
  top: 0;
  right: 0;
  text-align: right;
}

div.player-info .info span {
  padding: 0 10px;
}

div.player-info .pot {
  width: 20vw;
  position: relative;
}

div.player-info .pot img {
  width: 100%;
  pointer-events: none;
}

div.player-info .pot p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
  text-align: center;
  pointer-events: none;
}

div.player-info .over .pot {
  filter: brightness(1.75);
}

div.player-info .pot .chip {
  position: absolute;
  background-size: contain;
  width: 3vw;
  height: 3vw;
  pointer-events: none;
  opacity: 0;
  z-index: 1000;
}

div.player-info .pot .chip.value-1 {
  background-image: url('images/chip_1.png');
}

div.player-info .pot .chip.value-5 {
  background-image: url('images/chip_5.png');
}

div.player-info .pot .chip.value-10 {
  background-image: url('images/chip_10.png');
}

div.player-info .pot .bid-amount {
  top: 1em;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  color: green;
}
