div.player-info .info {
  position: absolute;
  color: gold;
}

div.player-info .info p {
  margin: 0;
}

div.player-info .info.left-side {
  top: 0;
  left: 0;
}

div.player-info .info.right-side {
  top: 0;
  right: 0;
  text-align: right;
}

div.player-info .info span {
  padding: 0 10px;
}

div.player-info .pot img {
  width: 100px;
}

div.player-info .over .pot {
  filter: brightness(1.75);
}
